@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /*  Colors */
    --primary-color: grey;
    --panel-color: #5B8FB9;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: black;
    --toggle-color: white;
    --hover-color: #3D56B2;
    --dashboard-color: #FFEEB3;
    --table-color:#2F86A6;
    --th-td-hover-color:#5BC0F8;
    --table-row-color:#FFC93C;
    
    /*  Transition  */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--box1-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --text-color:#85CDFD ;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --title-icon-color: #CCC;
    --panel-color: #1A120B;
    --dashboard-color: grey;
    --table-color:grey;
    --th-td-hover-color:grey;
    --table-row-color:#62B6B7;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--hover-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}

.sub-menu {
    display: none;
  }
  
  .nav-links li:hover .sub-menu {
    display: block;
  }
.nav-links li a span i{
    position: absolute;
    display: inline-block;
    color: var(--text-color);
    transform: translateY(50%);
    bottom: 20px;
}

.nav-links li a span i:hover:before{
    transform: translateY(50%) rotate(-180deg);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--hover-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--dashboard-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
    .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dash-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container {
    margin-top: 50px;
    padding: 0px;
    background-color: var(--table-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    border: solid 2px black;
    border-radius: 5px;
    width: 100%;
  height: 350px;         
}

#user-table{
    width: 100%;
}
.table-container th {
    background-color:#5BC0F8;
    text-align: left;
    padding: 8px;
  }

  .table-container td {
    padding: 8px;
    border-bottom: 1px solid ;
  }

 .table-container tr{
    background-color:var(--table-row-color) ;
  }

  .table-container tr:hover {
    background-color: var(--th-td-hover-color);
  }

.chart-container,
.chart-container2,
.chart-container3,
.chart-container4,
.chart-container5,
.chart-container6{
    margin-top: 30px;
    padding: 0;
    background-color:var(--panel-color);
    border: solid 2px black;
    border-radius: 5px;
}

.chart-container,
.chart-container2,
.chart-container3,
.chart-container4,
.chart-container5,
.chart-container6 h2{
    text-align: center;
}

