@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.main_box{
  position: relative;
  background-color:lightgray;
  height: 100vh;
  width: 100%;
}
.main_box .sidebar_menu{
  position: fixed;
  height: 100vh;
  width: 280px;
  left: -280px;
  background: #57a1d3;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
  margin-top: -90px;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo-image img{
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar_menu .logo a{
  color: black;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}

.sidebar_menu .menu ul{
text-decoration: none;
}

.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
  list-style: none;
}
.sidebar_menu .menu i{
  color: black;
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);}

#check{
  display: none;
}
.main_box .btn_one i{
  color: black;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;  
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}

.navbar{
background-color: #57a1d3;
height: 90px;
display: flex;
flex-direction: column-reverse;
align-content: center;
justify-content: center;
align-items: center;
}

.navbar .btn_one{
  margin-bottom: 60px;
}


.content{
  margin-top: 50px;
  background-color: aquamarine;
  width: 50%;
}

.main_box .boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  margin-top: 30px;
}


.main_box .boxes .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: grey;
}
.boxes .box i{
  font-size: 35px;
  color: white;
}
.boxes .box .text{
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.boxes .box .number{
  font-size: 20px;
  font-weight: 500;
  color: white;
}


.boxes .box.box2{
  background-color: grey;
  margin-top: 20px;
  margin: 10px;
  
}













/* @media (max-width:850px) {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .main_box{
    position: relative;
    background-color:whitesmoke;
    height: 100vh;
    width: 100%;
  }
  .main_box .sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: #57a1d3;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: all 0.3s linear;
    margin-top: -90px;
  }
  .sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
  }
  .sidebar_menu .logo-image img{
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .sidebar_menu .logo a{
    color: black;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
  }
  .sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width:100%;
  }
  
  .sidebar_menu .menu ul{
  text-decoration: none;
  }
  
  .sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
    list-style: none;
  }
  .sidebar_menu .menu i{
    color: black;
    font-size: 20px;
    padding-right: 8px;
  }
  .sidebar_menu .menu a{
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  .sidebar_menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);}
  
  #check{
    display: none;
  }
  .main_box .btn_one i{
    color: black;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;  
  }
   .sidebar_menu .btn_two i{
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
  }
  .btn_one i:hover{
    font-size: 29px;
  }
  .btn_two i:hover{
    font-size: 24px;
  }
  #check:checked ~ .sidebar_menu{
    left: 0;
  }
  #check:checked ~ .btn_one i{
    opacity: 0;
  }
  #check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
  }
  
  .table-responsive {
    margin-top: 20px;
    margin-left:60px;
    width: 80%;
  }
  
  #user-table{
    background-color: #FFEEB3;
  }
  
  .w3-modal-content .w3-container{
    display: flex;
    flex-direction: column ;
    align-content: center;
    align-items: center;
    height: 150px;
  }
  
  .navbar{
    background-color: #57a1d3;
    height: 90px;
    display: flex;
    flex-direction:row-reverse;
    }
    
    .navbar .btn_one{
      margin-bottom: 80px;
    }
    
    .search-bar{
      font-size: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #57a1d3;
      margin-right: 50px;
    }
  
    .search-bar .btn{
      background-color: #FFEEB3;
      height: 33px;
    }
  
    .search-bar i{
      font-size: 25px;
      border-radius: 10%;
      height: 10px;
    }
}  */