@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: beige;
}

#editUserModal{
  background-color: rgba(238, 233, 233, 0.836);
  opacity: 95%;
  border: 2px solid rgba(255, 255, 255,.10);
  border-radius: 8%;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  margin-left: 70px;
  text-align: center;
  width: 50%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;

}
