@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: beige;
}

#editUserModal{
  background-color: rgba(238, 233, 233, 0.836);
  opacity: 95%;
  border: 2px solid rgba(255, 255, 255,.10);
  border-radius: 8%;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  margin-left: 300px;
  text-align: center;
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;

}


#input-form{
  background-color: aquamarine;
  margin-top: 20px;
  font-size: 20px;
}

.btn{
  margin-top: 20px;
  border: none;
color: blue;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
background-color: aliceblue;
}