@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



#container {
  background-color: lightblue;
  opacity: 95%;
  height: 560px;
  width: 50%;
  border: 2px solid rgba(255, 255, 255,.10);
  border-radius: 1%;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  margin-left: 300px;
  margin-top: 80px;
}

nav {
  background-color: lightblue;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}



/* for mobile view of the application */
@media (max-width: 480px) {
  #container {
    background-color: lightblue;
    opacity: 95%;
    height: 650px;
    width: 80%;
    border: 2px solid rgba(255, 255, 255,.10);
    border-radius: 1%;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    margin-left: 50px;
    margin-top: 100px;
  }

  nav {
    background-color: #e73838;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
  }
}