@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.main_box{
  position: relative;
  background-color:rgb(212, 208, 208);
  height: 110vh;
  width: 100%;
}
.main_box .sidebar_menu{
  position: fixed;
  height: 100vh;
  width: 280px;
  left: -280px;
  background: #57a1d3;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
  margin-top: -90px;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo-image img{
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar_menu .logo a{
  color: black;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}

.sidebar_menu .menu ul{
text-decoration: none;
}

.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
  list-style: none;
}
.sidebar_menu .menu i{
  color: black;
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);}

#check{
  display: none;
}
.main_box .btn_one i{
  color: black;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;  
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}

.table-responsive {
  margin-left: 100px;
  margin-top: 30px;
  width: 80%;
}

.table-responsive .topbar{
  display: flex;
  align-items: center;
  justify-content:space-between;
}


.navbar{
  background-color: #57a1d3;
  height: 90px;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: center;
  align-items: center;
  }
  
 .navbar .btn_one{
    margin-bottom: 60px;
  }

.search-bar{
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #57a1d3;
  margin-right: 50px;
}

.search-bar .btn{
  background-color: #FFEEB3;
  height: 33px;
}

.search-bar i{
  font-size: 20px;
  border-radius: 10%;
}

/* Basic styling for the paginator container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Styling for the Previous and Next buttons */
a.prev, a.next {
  padding: 8px 12px;
  background-color: #f2f2f2;
  color: #000;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
}

a.prev:hover, a.next:hover {
  background-color: #ddd;
}

/* Styling for the page numbers */
span.page-numbers a {
  padding: 8px 12px;
  background-color: #f2f2f2;
  color: #000;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
}

span.page-numbers a.active {
  background-color: #4CAF50;
  color: #fff;
}

span.page-numbers a:hover {
  background-color: #ddd;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 70px;
  margin-left: 300px;
  width: 40%;
  height: 60%;
 
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.modal-buttons button {
  margin-left: 10px;
  background-color:black
}


@media (max-width:850px) {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .main_box{
    position: relative;
    background-color:whitesmoke;
    height: 100vh;
    width: 100%;
  }
  .main_box .sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: #57a1d3;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: all 0.3s linear;
    margin-top: -90px;
  }
  .sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
  }
  .sidebar_menu .logo-image img{
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .sidebar_menu .logo a{
    color: black;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
  }
  .sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width:100%;
  }
  
  .sidebar_menu .menu ul{
  text-decoration: none;
  }
  
  .sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
    list-style: none;
  }
  .sidebar_menu .menu i{
    color: black;
    font-size: 20px;
    padding-right: 8px;
  }
  .sidebar_menu .menu a{
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  .sidebar_menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);}
  
  #check{
    display: none;
  }
  .main_box .btn_one i{
    color: black;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;  
  }
   .sidebar_menu .btn_two i{
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
  }
  .btn_one i:hover{
    font-size: 29px;
  }
  .btn_two i:hover{
    font-size: 24px;
  }
  #check:checked ~ .sidebar_menu{
    left: 0;
  }
  #check:checked ~ .btn_one i{
    opacity: 0;
  }
  #check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
  }
  
  .table-responsive {
    margin-top: 20px;
    margin-left:60px;
    width: 80%;
  }
  
  
  .w3-modal-content .w3-container{
    display: flex;
    flex-direction: column ;
    align-content: center;
    align-items: center;
    height: 150px;
  }
  
  .navbar{
    background-color: #57a1d3;
    height: 90px;
    display: flex;
    flex-direction:row-reverse;
    }
    
    .navbar .btn_one{
      margin-bottom: 80px;
    }
    
    .search-bar{
      font-size: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #57a1d3;
      margin-left: 50px;
    }
  
    .search-bar .btn{
      background-color: #FFEEB3;
      height: 33px;
    }
  
    .search-bar i{
      font-size: 25px;
      border-radius: 10%;
      height: 10px;
    }
  
    .topbar{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
} 