{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/popup.css' %}">
  <title>Add User</title>
</head>
<body>
   <!-- Add User Form Popup -->
   <div id="addUserForm" class="modal">
    <div class="modal-content">
      <a href="{% url 'Analytics:userstable' %}"><span class="close-btn">&times;</span></a>
      <form method="POST" action="{% url 'Analytics:addUser' %}">
        {% csrf_token %}
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" required>

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Add</button>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/popup.js' %}"></script>
</body>
</html>