{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Adashboard.css' %}">
    <link rel="stylesheet"href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
   <title>ISdaanIs: Admin Dashboard</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'img/pfda.png' %}" alt="">
            </div>

            <span class="logo_name">ISdaanIS</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#table-con">
                        <i class="uil uil-user"></i>
                        <span class="link-name">Users</span>
                    </a>
                </li>
                <li>
                    <a href="#myChart">
                      <i class="uil uil-chart-bar"></i>
                      <span class="link-name">Fish Type</span>
                  </a>
                </li>
                <li><a href="#">
                  <i class="uil uil-ship"></i>
                    <span class="link-name">Vessel</span>
                </a></li>
                <li><a href="#">
                  <i class="uil uil-globe"></i>
                    <span class="link-name">Place of catch</span>
                </a>
            </li>
            <li><a href="#" class="">
                <i class="uil uil-calendar-alt"></i>
                  <span class="link-name">Analysis <i class="uil uil-angle-down"></i> </span>
              </a>

              <ul class="sub-menu">
                <li><a href="#">
                    <i class="uil uil-calendar-alt"></i>
                      <span class="link-name">Daily Catch</span>
                  </a>
              </li>
                  <li><a href="#">
                    <i class="uil uil-calendar-alt"></i>
                      <span class="link-name">Monthly Catch</span>
                  </a>
              </li>
              <li><a href="#">
                <i class="uil uil-calendar-alt"></i>
                  <span class="link-name">Yearly Catch</span>
              </a>
          </li>
              </ul>
          </li>
           

                <li><a href="#">
                  <i class="uil uil-file-graph"></i>
                    <span class="link-name">Reports</span>
                </a>
            </li>
            
               
              </ul>    
      
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">

        <section class="table-container" id="table-con">
            <table id="user-table">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>E-mail</th>
                </tr>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                </tr>
                <tr>
                    <td>Data 3</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                </tr>
                <tr>
                    <td>Data 3</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                </tr>
                <tr>
                    <td>Data 3</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                </tr>
                <tr>
                    <td>Data 3</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                    <td>Data 4</td>
                </tr>
            </table>
           </section>
            <h2>TOTAL QUANTITIES</h2>
           <div class="chart-container">
            <canvas id="myChart"></canvas>
          </div>
          
          
          <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['bangus', 'baliwis', 'tilapia', 'bunak', 'galunggong', 'siga',],
                datasets: [{
                  label: 'Quantity',
                  data: [12, 19, 3, 5, 20, 3],
                  borderColor: '#36A2EB',
                    backgroundColor: '#FF0060',
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>

            
               
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>          
        </section>
   

          
  

    <script src="{% static 'js/adminDash.js' %}"></script>

</body>
</html>