{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/dash.css' %}">
  <title>ISdaanIS</title>
</head>
<body>
  <div class="container">
    <div class="navigation">
      <ul>
        
        <li>
          <a href="#">
            <h4>ISdaanIS</h4>
            <h2>Dashboard</h2>
          </a>
        </li>
        
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="fish-outline"></ion-icon></span>
            <span class="title">Fish Type</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon"><ion-icon name="boat-outline"></ion-icon></span>
            <span class="title">Vessel</span>
          </a>
        </li>
        
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="globe-outline"></ion-icon></span>
            <span class="title">place of catch</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
            <span class="title">quantity of fishes this day</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
            <span class="title">quantity of fishes this month</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
            <span class="title">Settings</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
            <span class="title">Logout</span>
          </a>
        </li>


      </ul>
    </div>
  </div>


  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>