{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/dash.css' %}">
  <title>ISdaanIS</title>
</head>
<body>
  <div class="navigation">
    <div class="menuToggle"></div>
    <ul>

      <li class="list active">
        <a href="#">
          <span class="icon"><ion-icon name="fish-outline"></ion-icon></span>
          <span class="title">Fish Type</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="boat-outline"></ion-icon></span>
          <span class="title">Vessel</span>
        </a>
      </li>
      
      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="globe-outline"></ion-icon></span>
          <span class="title">Place of catch</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
          <span class="title">Daily</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
          <span class="title">Monthly</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
          <span class="title">Settings</span>
        </a>
      </li>

      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
          <span class="title">Logout</span>
        </a>
      </li>
    </ul>
  </div>
<script>
 let menuToggle = document.querySelector('.menuToggle');
 let navigation = document.querySelector('.navigation');
 menuToggle.onclick = function(){
  navigation.classList.toggle('active')
 }

let list = document.querySelectorAll('.list');
function activelink(){
  list.forEach((item) => item.classList.remove('active'));
  this.classList.add('active');
}
list.forEach((item) => item.addEventListener('click',activelink));
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>