{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% csrf_token %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/dash.css' %}">
  <link rel="stylesheet"href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>ISdaanIS:Fish Unloading</title>
</head>
<body>

  <nav>
     
      <!-- Code for the sidebar -->
      <div class="logo-name">
        <div class="logo-image">
            <img src="{% static 'img/pfda.png' %}" alt="">
        </div>
  
        <span class="logo_name">IsdaanIS</span>
    </div>
    <div class="menu-items">
        <ul class="nav-links"> 
            <li>
                <a href="{% url 'Analytics:OverallCatchdash' %}">
                  <i class="uil uil-chart-bar"></i>
                  <span class="link-name">Overall Catch</span>
              </a>
            </li>
            <li><a href="{% url 'Analytics:FishCatchdash' %}">
              <i class="uil uil-ship"></i>
                <span class="link-name">Fish Catch Rate</span>
            </a></li>
          </ul>    
          <ul class="logout-mode">
            <li>
              <a href="#" onclick="openLogoutModal()" data-logout-url="{% url 'Authentication:landingPage' %}">
                <i class="uil uil-signout"></i>
                <span class="link-name">Logout</span>
              </a>
            </li>
          </ul>
        

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
            </a>

            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
        </li>
        </ul>
        
    </div>

   
</nav>

<div id="logoutModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeLogoutModal()">&times;</span>
    <p>Do you really want to log out?</p>
    <button onclick="logout()">Logout</button>
    <button onclick="closeLogoutModal()">Cancel</button>
  </div>
</div>
<div id="logoutSuccessMessage" class="logout-success-message" style="display:none;">
  Logout successful! <!-- You can customize this message -->
</div>
            <!-- Code for the graphs -->
<section class="dashboard">
      
        <div class="chart-container" width="100%" height="80">
          <h2>VESSEL</h2>
          <canvas id="Vessel"></canvas>
      </div>

      <div class="chart-container2" width="100%" height="80">
          <h2>PLACES</h2>
          <canvas id="PlaceOfCatch"></canvas>
      </div>
      
      
      <div class="chart-container3" width="100%" height="80">
        <h2>MONTHLY</h2>
        <canvas id="MonthlyCatch"></canvas>
      </div>
  
    
      
      <div class="chart-container4" width="100%" height="80">
        <h2>YEARLY</h2>
        <canvas id="YearlyCatch"></canvas>
      </div>
      

      
      
      
      <!-- code for sidebar toggle -->
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <label for="fishtype">Type of Fish:</label>
            <select name="fishtype" id="fishtypeOptions">
              <option value="">Select Fish </option>
                {% for species in species_list %}
                    <option value="{{ species.species_name }}">{{ species.species_name }}</option>
                {% endfor %}
            </select>

            <label for="months">Choose a month:</label>
                <select name="months" id="months">
                  <option value="">Select Month</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>


            <label for="year">Choose Year:</label>
              <select name="year" id="year">
                <option value="">Select Year </option>
                  {% for year in unique_years %}
                      <option value="{{ year }}">{{ year }}</option>
                  {% endfor %}
              </select>


    </section>

  
    
  </div>




<script src="{% static 'js/unloadingdash.js' %}"></script>


</body>
</html>