{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/dash.css' %}">
  <link rel="stylesheet"href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>ISdaanIS: Fish Loading</title>
</head>
<body>

  <nav>
    <div class="logo-name">
      <div class="logo-image">
          <img src="{% static 'img/pfda.png' %}" alt="">
      </div>

      <span class="logo_name">IsdaanIS</span>
  </div>
      <!-- Code for the sidebar -->
    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a href="{% url 'Analytics:loadingdash' %}">
                  <i class="uil uil-chart-bar"></i>
                  <span class="link-name">Loading</span>
              </a>
            </li>
            <li><a href="{% url 'Analytics:unloadingdash' %}">
              <i class="uil uil-ship"></i>
                <span class="link-name">Unloading</span>
            </a></li>
          </ul>    
          <ul class="logout-mode">
            <li>
                <a href="{% url 'Analytics:logout' %}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a>  
            </li>
        </ul>
        

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
            </a>

            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
        </li>
        </ul>
    </div>
</nav>
            <!-- Code for the graphs -->
<section class="dashboard">
  
      <div class="chart-container" width="100%" height="80">
        <h2>TOTAL QUANTITIES</h2>
        <canvas id="Fishtype"></canvas>
      </div>
      
      <div class="chart-container2" width="100%" height="80">
        <h2>VESSEL</h2>
        <canvas id="Vessel"></canvas>
      </div>
      

      <div class="chart-container3" width="100%" height="80">
        <h2>PLACES</h2>
        <canvas id="PlaceOfCatch"></canvas>
      </div>
      
      <div class="chart-container4" width="100%" height="80">
        <h2>DAILY </h2>
        <canvas id="DailyCatch"></canvas>
      </div>
      
      <div class="chart-container5" width="100%" height="80">
        <h2>MONTHLY</h2>
        <canvas id="MonthlyCatch"></canvas>
      </div>
      
      <div class="chart-container6" width="100%" height="80">
        <h2>YEARLY</h2>
        <canvas id="YearlyCatch"></canvas>
      </div>
      

      
      
      
      <!-- code for sidebar toggle -->
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
    </section>

  
    
  </div>




<script src="{% static 'js/dashjs.js' %}"></script>


</body>
</html>