{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datepicker/datepicker.min.css">
  <title>Information Forms</title>
</head>
<body style="background-color: #57a1d3;">

  <div class="navbar">
        <h2>MARKET CHECKER INPUT FORM</h2>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <!-- Add other menu items if needed -->
                <a href="#">Recent List</a>
                <a href="{% url 'Authentication:MClandingPage' %}" class="text-decoration-none fs-4 text-dark">LOGOUT</a>
            </div>
        </div>
</div>

<div class="container-sm" id="container"> 
  <form class="row g-3" method="POST">
    {% csrf_token %}

    <div class="date">
      <label for="dateofCatch">Date of Catch:</label>
      <input type="date" name="dateofCatch" id="dateofCatch" required readonly>
    </div>

    <div class="place">
      <label for="placeofcatch">Place of catch:</label>
      <input type="text" id="placeofcatch" name="placeofcatch" placeholder="ex. Polilio" list="placeofcatch">
      <datalist id="placeofcatch">
        <option value="Origins" disabled></option>
        {% for origin in origins %}
          <option value="{{ origin.id }}">{{ origin.origin }}</option>
        {% endfor %}
      </datalist>
    </div>

    <div class="Utype" id="UnloadingType">
      <label for="typeofUnload">Type of Unloading:</label>
      <select name="typeofUnload" id="typeofUnloadOptions">
        <option value="Commercial">Commercial</option>
        <option value="Municipal">Municipal</option>
        <option value="Saltwater">Inland(Saltwater)</option>
        <option value="FishPond">Inland(Fish Pond)</option>
      </select>
    </div>

    <div class="vessel">
      <label for="vessel">Vessel:</label>
      <input type="text" id="vessel" name="vessel" placeholder="ex. Name Of Boat/Truck/Cargo" list="vesselOptions">
      <datalist id="vesselOptions">
        <option value="St Mary">
        <option value="St Francis">
        <option value="2 Brothers">
        <option value="King">
        <option value="4R">
        <option value="3 Sisters">
      </datalist>
    </div>

    <div class="fish" id="fishtype">
      <label for="fishtype">Type of Fish:</label>
      <select name="fishtype" id="fishtypeOptions">
          {% for species in species_list %}
              <option value="{{ species.species_name }}">{{ species.species_name }}</option>
          {% endfor %}
      </select>
  </div>

    <div class="volume">
      <label for="quantity">Volume:</label>
      <input type="number" id="quantity" name="quantity" placeholder="In Tons">
    </div>

    <div class="container mt-5">
      <div class="d-flex justify-content-center">
        <button type="button" onclick="openModal()">Submit</button>
      </div>
    </div>
    
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>Are you sure you want to submit the form?</p>
        <div class="modal-buttons">
          <button onclick="submitForm()">Submit</button>
          <button onclick="goBack()">Cancel</button>
        </div>
      </div>
    </div>

  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/datepicker/datepicker.min.js"></script>
<script src="{% static 'js/forms.js' %}"></script>

</body>
</html>
