{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> IsdaanIS:Admin</title>
    <link rel="stylesheet" href="{% static 'css/historyTables.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   </head>
<body>
  <!-- Code for sidebar -->
  <div class="main_box">
    <input type="checkbox" id="check">
    <div class="btn_one">
      <label for="check">
        <i class='bx bx-menu'></i>
      </label>
    </div>
    <div class="sidebar_menu">
      <div class="logo">
        <div class="logo-image">
          <img src="{% static 'img/pfda.png' %}" alt="">
          <a href="#">IsdaanIS</a>
      </div>
        
          </div>
        <div class="btn_two">
          <label for="check">
            <i class='bx bx-x'></i>
          </label>
        </div>
      <div class="menu">
        <ul>
          <li>
            <a href="{% url 'Analytics:admindashboard' %}">
              <i class='bx bx-arrow-back'></i>Back</a>
          </li>
          <li>
            <a href="{% url 'Analytics:logout' %}">
              <i class='bx bx-exit'></i>Logout</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="table-responsive bg-info">
      <h2>Unloading History</h2>

        <!-- Table Contents -->
        <table class="table table-bordered table-hover ">
            <thead>
              <tr class="bg-info">
                <th scope="col">Load Date</th>
                <th scope="col">Type of fish</th>
                <th scope="col">Quantity</th>
                <th scope="col">Vessel</th>
                <th scope="col">Location</th>

                
              </tr>
            </thead>
            <!-- Table Data -->
            <tbody>
              <tr>
                <td class="table-info">JOhnny</td>
                <td class="table-info">Marks</td>
                <td class="table-info">jmarks@email.com</td>
                <td class="table-info">Port Manager</td>
                <td class="table-info">Port Manager</td>
              </tr>
            
              <tr>
                <td>JOhnny</td>
                <td>Marks</td>
                <td>jmarks@email.com</td>
                <td>Port Manager</td>
                <td>Port Manager</td>
              </tr>
              <tr>
                <td class="table-info">JOhnny</td>
                <td class="table-info">Marks</td>
                <td class="table-info">jmarks@email.com</td>
                <td class="table-info">Port Manager</td>
                <td class="table-info">Port Manager</td>
              </tr>
              <tr>
                <td>JOhnny</td>
                <td>Marks</td>
                <td>jmarks@email.com</td>
                <td>Port Manager</td>
                <td>Port Manager</td>
                
              </tr>
              <tr>
                <td class="table-info">JOhnny</td>
                <td class="table-info">Marks</td>
                <td class="table-info">jmarks@email.com</td>
                <td class="table-info">Port Manager</td>
                <td class="table-info">Port Manager</td>
              </tr>
              <tr>
                <td>JOhnny</td>
                <td>Marks</td>
                <td>jmarks@email.com</td>
                <td>Port Manager</td>
                <td>Port Manager</td>
              </tr>
              <tr>
                <td class="table-info">JOhnny</td>
                <td class="table-info">Marks</td>
                <td class="table-info">jmarks@email.com</td>
                <td class="table-info">Port Manager</td>
                <td class="table-info">Port Manager</td>
              </tr>
              <tr>
                <td>JOhnny</td>
                <td>Marks</td>
                <td>jmarks@email.com</td>
                <td>Port Manager</td>
                <td>Port Manager</td>
              </tr>
              <tr>
                <td class="table-info">JOhnny</td>
                <td class="table-info">Marks</td>
                <td class="table-info">jmarks@email.com</td>
                <td class="table-info">Port Manager</td>
                <td class="table-info">Port Manager</td>
              </tr>
              <tr>
                <td>JOhnny</td>
                <td>Marks</td>
                <td>jmarks@email.com</td>
                <td>Port Manager</td>
                <td>Port Manager</td>
              </tr>
              <tr>
                <td class="table-info">JOhnny</td>
                <td class="table-info">Marks</td>
                <td class="table-info">jmarks@email.com</td>
                <td class="table-info">Port Manager</td>
                <td class="table-info">Port Manager</td>
              </tr>
            </tbody>
        </table>
      </div>
  </div>
  
  </body>

</html>