{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> IsdaanIS:Admin</title>
    <link rel="stylesheet" href="{% static 'css/historyTables.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   </head>
<body>
  <!-- Code for sidebar -->
  
  <div class="main_box">
    <input type="checkbox" id="check">
    <div class="navbar">
     
    <h2>ISdaanIS</h2>
    <div class="btn_one">
      <label for="check">
        <i class='bx bx-menu'></i>
      </label>
    </div>
  </div>
    <div class="sidebar_menu">
      <div class="logo">
        <div class="logo-image">
          <img src="{% static 'img/pfda.png' %}" alt="">
          <a href="#">IsdaanIS</a>
      </div>
        
          </div>
        <div class="btn_two">
          <label for="check">
            <i class='bx bx-x'></i>
          </label>
        </div>
      <div class="menu">
        <ul>
          <li>
            <a href="{% url 'Analytics:admindashboard' %}">
              <i class='bx bx-arrow-back'></i>Back</a>
          </li>
          <li>
            <a href="{% url 'Analytics:logout' %}">
              <i class='bx bx-exit'></i>Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Codes For Load History Table -->
    <div class="table-responsive bg-info">
      <div class="topbar">
        <h2>Unloading History</h2>
        <form id="search-form" method="get">
            <div class="search-bar">
                <input type="text" id="search-input" name="q" placeholder="Search.." {% if search_query %}value="{{ search_query }}"{% endif %}>
                <button type="submit" id="search-btn" class="btn">
                    <i class='bx bx-search-alt-2'></i>
                </button>
            </div>
        </form>
       
    </div>
        <table class="table table-bordered table-hover ">
            <thead>
              <!-- Table Contents -->
              <tr class="bg-info">
                <th scope="col">Load Date</th>
                <th scope="col">Type of fish</th>
                <th scope="col">Quantity</th>
                <th scope="col">Vessel</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>

                
              </tr>
            </thead>
            <!-- Table Data -->
            <tbody>
              {% for transaction in transactions %}
              <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.species.species_name }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.vessel.vessel_name }}</td>
                <td>{{ transaction.origin.origin }}</td>
                <td>{{ transaction.price }}</td>
                
              </tr>
              {% endfor %}
            </tbody>
        </table>
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if transactions.has_previous %}
            <a href="?page=1{% if search_query %}&q={{ search_query }}{% endif %}">&laquo; first</a>
            <a href="?page={{ transactions.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
        </span>

        {% if transactions.has_next %}
            <a href="?page={{ transactions.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">next</a>
            <a href="?page={{ transactions.paginator.num_pages }}{% if search_query %}&q={{ search_query }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</div>
  
<script src="{% static 'js/unloadhistory.js' %}"></script>
  </body>

</html>