{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IsdaanIS:Admin</title>
  <link rel="stylesheet" href="{% static 'css/userstable.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="main_box">
    <input type="checkbox" id="check">
    <div class="navbar">
      <h2>ISdaanIS</h2>
      <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search.." value="{{ search_query }}">
        <button type="button" id="search-btn" class="btn">
          <i class='bx bx-search-alt-2'></i>
        </button>      
      </div>
      <div class="btn_one">
        <label for="check">
          <i class='bx bx-menu'></i>
        </label>
      </div>
    </div>
    <div class="sidebar_menu">
      <div class="logo">
        <div class="logo-image">
          <img src="{% static 'img/pfda.png' %}" alt="">
          <a href="#">IsdaanIS</a>
        </div>
      </div>
      <div class="btn_two">
        <label for="check">
          <i class='bx bx-x'></i>
        </label>
      </div>
      <div class="menu">
        <ul>
          <li>
            <a href="{% url 'Analytics:admindashboard' %}">
              <i class='bx bx-arrow-back'></i>Back</a>
          </li>
          <li>
            <a href="#" onclick="openModal()">
              <i class='bx bx-exit'></i>Logout
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="logoutModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>Are you sure you want to logout?</p>
        <button onclick="cancelLogout()">Cancel</button>
        <a id="logoutLink" href="{% url 'Authentication:loginadmin' %}">Logout</a>
      </div>
    </div>
    
    <div class="table-responsive bg-secondary">
      <h2>User's Table</h2>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="bg-secondary ">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Usergroup</th>
            <th scope="col">Actions</th>
            
          </tr>
        </thead>
        <tbody>
          {% for user in market_checker %}
          <tr class="user-table-row">
            <td class="table-info">{{ user.first_name }}</td>
            <td class="table-info">{{ user.last_name }}</td>
            <td class="table-info">{{ user.email }}</td>
            <td class="table-info">{{ user.username }}</td>
            <td class="table-info">{{ user.groups.first }}</td>
            <td class="table-info">
              <a href="{% url 'Analytics:edituser' id=user.id %}"><button class="btn btn-primary">Edit</button></a>
              
              <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-danger">Delete</button>
              
              <div id="id01" class="w3-modal" style="z-index: 1000;">
                <div class="w3-modal-content">
                  <div class="w3-container">
                    <h2>ARE YOU SURE YOU WANT TO DELETE THIS USER??</h2>
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <a href="{% url 'Analytics:delete_user' id=user.id%}" class="btn btn-danger">Confirm</a>
                    <a onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary ">Cancel</a>
                  </div>
                </div>
            </div>
                          
            </td>
          </tr>
          {% endfor %}
          {% for user in pm_manager %}
          <tr class="user-table-row">
            <td class="table-info">{{ user.first_name }}</td>
            <td class="table-info">{{ user.last_name }}</td>
            <td class="table-info">{{ user.email }}</td>
            <td class="table-info">{{ user.username }}</td>
            <td class="table-info">{{ user.groups.first }}</td>
            <td class="table-info">
              <a href="{% url 'Analytics:edituser' id=user.id %}"><button class="btn btn-primary">Edit</button></a>
              
                <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-danger">Delete</button>
              
                <div id="id01" class="w3-modal" style="z-index: 1000;">
                  <div class="w3-modal-content">
                    <div class="w3-container">
                      <h2>ARE YOU SURE YOU WANT TO DELETE THIS USER??</h2>
                      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                      <a href="{% url 'Analytics:delete_user' id=user.id%}" class="btn btn-danger">Confirm</a>
                      <a onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary w3-button w3-display-topright">Cancel</a>
                    </div>
                  </div>
              </div>

            </td>
          </tr>
          {% endfor %}
          {% for user in is_admin %}
          <tr class="user-table-row">
            <td class="table-info">{{ user.first_name }}</td>
            <td class="table-info">{{ user.last_name }}</td>
            <td class="table-info">{{ user.email }}</td>
            <td class="table-info">{{ user.username }}</td>
            <td class="table-info">{{ user.groups.first }}</td>
            <td class="table-info">
              <a href="{% url 'Analytics:edituser' id=user.id %}"><button class="btn btn-primary">Edit</button></a>

              <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-danger">Delete</button>
              
              <div id="id01" class="w3-modal" style="z-index: 1000;">
                <div class="w3-modal-content">
                  <div class="w3-container">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <a href="{% url 'Analytics:delete_user' id=user.id%}" class="btn btn-danger">Confirm</a>
                    <a onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary w3-button w3-display-topright">Cancel</a>
                  </div>
                </div>
            </div>
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <span class="step-links">
          {% if transactions.has_previous %}
              <a href="?page=1{% if search_query %}&q={{ search_query }}{% endif %}">&laquo; first</a>
              <a href="?page={{ transactions.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
          </span>
  
          {% if transactions.has_next %}
              <a href="?page={{ transactions.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">next</a>
              <a href="?page={{ transactions.paginator.num_pages }}{% if search_query %}&q={{ search_query }}{% endif %}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  </div>
  <script src="{% static 'js/userstable.js' %}"></script>
</body>
</html>
