{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/Usertype.css' %}">
      <link rel="stylesheet"href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="cards">
     <header>
      <h2>Welcome to ISdaanIS</h2>
      <h2>ARE YOU THE......</h2>
     </header>
         <div class="services">
            <div class="content content-1">
              <i class="uil uil-user-square"></i>
               <h2>
                 Port Manager
               </h2>
               <a href="{% url 'pmlogin' %}">Enter</a>
            </div>
            <div class="content content-2">
              <i class="uil uil-airplay"></i>
               <h2>
                  Market Checker
               </h2>
               <a href="{% url 'login' %}">Enter</a>
            </div>
         </div>
      </div>
   </body>
</html>