@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-image: url(../img/122155615_175479397542068_2300959587956042065_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; /* Optional: Center the background image */
  margin: 0; /* Optional: Remove default body margin */
  height: 100vh;
  overflow: hidden; /* Optional: Hide scrollbars */

}

.navbar{
  background-color:transparent;
  display: flex;
  justify-content: space-between;
}

.navbar-text{
  color: black;
}

#column{
 margin-top: 10px;
}

.card{
  background-color: rgba(238, 233, 233, 0.836);
  opacity: 95%;
  height: 450px;
  width: 80%;
  border: 2px solid rgba(255, 255, 255,.10);
  border-radius: 8%;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  margin-left: 50px;
}

.card-title{
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: center;
}
