@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/122155615_175479397542068_2300959587956042065_n.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.navbar{
  background-color:transparent;
  display: flex;
  justify-content: space-between;
}

.navbar-text{
  color: black;
}

#column{
 margin-top: 10px;
 margin-right: 70px;
}

.card{
  background-color: rgba(238, 233, 233, 0.836);
  opacity: 95%;
  border: 2px solid rgba(255, 255, 255,.10);
  border-radius: 8%;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  margin-left: 70px;
}

.card-title{
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: center;
}

.btn-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

#login-btn{
  width: 100%;
  background-color:blue;

}

#login-register{
  display: flex;
  justify-content: center;
}



